<nz-layout>

  <nz-sider
    class="sidebar"
    nzCollapsible
    [(nzCollapsed)]="sideMenu.isCollapsed"
    [nzCollapsedWidth]="0"
    [nzWidth]="200"
    [nzTrigger]="triggerTemplate">
      <app-side-menu class="sidebar" [menuGroupCode]="sideMenu.menuGroupCode" [menuUrl]="sideMenu.url">
      </app-side-menu>
  </nz-sider>

  <nz-layout>
    <nz-header class="header">
      <span nz-icon class="collapse-icon" [nzType]="sideMenu.isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="sideMenu.isCollapsed=!sideMenu.isCollapsed"></span>

      <nz-select
        class="sidemenugroup"
        nzShowSearch
        [(ngModel)]="menuGroupInfo.selectedId"
        (ngModelChange)="moveToMenuGroupUrl($event)">
          @for (menuGroup of menuGroupInfo.list; track menuGroup.menuGroupCode) {
            <nz-option
              [nzValue]="menuGroup.menuGroupCode"
              [nzLabel]="menuGroup.menuGroupName">
            </nz-option>
          }
      </nz-select>

      <nz-avatar class="avatar" nzShape="square" [nzSize]='48' [nzSrc]="profileAvatarSrc" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
        <nz-dropdown-menu #menu="nzDropdownMenu">
          프로필 정보
          <app-user-profile></app-user-profile>
        </nz-dropdown-menu>
      </nz-avatar>
    </nz-header>


    <nz-content class="main-content">
      <router-outlet></router-outlet>
    </nz-content>

    <!--
    <div class="footer">
      {{footerMessage}}
    </div>
    -->
  </nz-layout>
</nz-layout>

